.intro-main {
	width: 50%;

	@media screen and(max-width: 760px) {
		width: 100%;
		margin-top: 2rem;
	}

	&__title {
		margin-bottom: 3rem;
		margin-bottom: clamp(1.5rem, 2vw, 3rem);
		padding-bottom: 1rem;
		position: relative;

		&::after {
			content: "";
			display: block;
			width: 75%;
			height: 1px;
			background: $color-dark;
			position: absolute;
			bottom: 0;
		}
	}

	&__paragraph {
		line-height: 1.75;

		&--1 {
			margin-bottom: 2rem;
		}
	}
}
