.hero-highlights {
	margin-top: 7.5rem;
	margin-top: clamp(2em, 3vw, 7.5rem);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__box {
		width: 20%;
		width: clamp(20%, 23%, 23%);

		@media screen and (max-width: 1000px) {
			width: 45%;
			padding: 1em 0;
		}

		@media screen and (max-width: 571px) {
			width: 100%;
			text-align: center;
			margin: 0.5em 0;

			h3 {
				font-size: 1.8rem;
			}
		}
	}

	&__title {
		margin-bottom: 1rem;
		font-weight: $weight-semi;
	}

	&__paragraph {
		font-size: $font-small;
	}
}
